PROJECT (${case} CXX)

SET(CMAKE_CXX_FLAGS "-std=c++11 -Wall -Werror")

INCLUDE_DIRECTORIES(${project_root})

#ADD_LIBRARY(example1 SHARED example1.cpp)
#ADD_LIBRARY(example2 SHARED example2.cpp)

ADD_EXECUTABLE(${case} main.cpp)
TARGET_LINK_LIBRARIES(${case} dl)
